<div id="Register">
    <h2>Register</h2>
    <mat-form-field class="RegisterForm" hintLabel="Max 256 characters" appearance="fill">
        <mat-label>Enter your email.</mat-label>
        <input matInput maxlength="256" type="text" placeholder="Enter your username or email" id="EmailInput" [formControl]="email" autocomplete="off">
        <mat-hint align="end">{{email.value!.length || 0}}/256</mat-hint>
        <mat-error *ngIf="email.invalid">{{getErrorMsg(email)}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="RegisterForm" hintLabel="Max 256 characters" appearance="fill">
        <mat-label>Enter your username.</mat-label>
        <input matInput maxlength="128" type="text" placeholder="Enter your username" id="UserInput" [formControl]="username" autocomplete="off">
        <mat-hint align="end">{{username.value!.length || 0}}/128</mat-hint>
        <mat-error *ngIf="username.invalid">{{getErrorMsg(username)}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="RegisterForm" hintLabel="Max 256 characters" appearance="fill">
        <mat-label>Enter your password.</mat-label>
        <input matInput maxlength="256" type="password" placeholder="Enter your password" id="PassInput" [formControl]="password" autocomplete="off">
        <mat-hint align="end">{{password.value!.length || 0}}/256</mat-hint>
        <mat-error *ngIf="password.invalid">{{getErrorMsg(password)}}</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" id="RegisterMainButton" (click)="register()"><mat-icon>register</mat-icon>&ThickSpace; Register</button>
</div>
